    

    <div class="col-6 mt-5">
        <a class="btn btn-primary" href="/logout"> Log out </a>
    </div>




<script src="https://kit.fontawesome.com/4950176e85.js" crossorigin="anonymous"></script>

</body>
</html>