    

    <div class="col-6 mt-5">
        <a class="fixed bottom-5 right-5 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded mx-auto" href="/logout"> Log out </a>
    </div>




<script src="https://kit.fontawesome.com/4950176e85.js" crossorigin="anonymous"></script>

</body>
</html>