<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HAC</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />

 
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/tailwind/style.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="container">
      <div class="text-center">
        <h1 class="text-5xl text-blue-600 text-center mb-2 mt-4"><a href="/hac/activities">Home Activities Program</a></h1>
        <img class="flex h-40 w-40 object-center items-center justify-center rounded-full mx-auto" src="/imgs/sweet_home_dkhr.svg">
        <span class="text-2xl text-center mb-2">Helping caregivers and patients transition back to home.</span>
      </div>
    </header>
  </body>
</html>
