        <aside class="flex w-64  flex-col space-y-2 border-r-2 border-gray-200 bg-white p-2" aria-label="Sidebar" style="height: 85vh"
                x-show="asideOpen">
        <div class="overflow-y-auto py-4 px-3 bg-gray-50 rounded dark:bg-gray-800">
            <span class="text-2xl">Activities</span>
            <ul class="space-y-2">
            <li>
                <a class="flex items-center p-1 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700" href="/hac/bedmob">
                <i class = " fa fa-bed"></i> 
                <span class="text-lg">  Bed Mobility</span>
                </a>
            </li>
            <li>
                <a class="flex items-center p-1 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700" href="/hac/transfer">
                <i class = "fa fa-chair"></i> 
                <span class="text-lg">  Transfers</span>
                </a>
            </li>
            <li>
                <a class="flex items-center p-1 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700" href="/hac/gait">
                <i class = "fa fa-person-cane"></i> 
                <span class="text-lg">  Gait</span>
                </a>
            </li>
            <li>
                <a class="flex items-center p-1 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700" href="/hac/selfcare">
                <i class="fa-solid fa-glass-water-droplet"></i> 
                <span class="text-lg">  Self-care</span>
                </a>
            </li>
            <li>
                <a class="flex items-center p-1 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700" href="/hac/dressing">
                    <i class="fa fa-shirt"></i>
                    <span class="text-lg">  Dressing</span>
                </a>
            </li>
            <li>
                <a   class="flex items-center p-1 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700" href="/hac/hygiene">
                    <i class="fa fa-shower"></i>
                    <span class="text-lg">  Hygiene</span>
                </a>
            </li>
            <li>
                <a class="flex items-center p-1 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700" href="/hac/toilet">
                    <i class = "fa fa-toilet"></i>
                    <span class="text-lg">  Toileting</span>
                </a>
            </li>
            <li>
            <a class="flex items-center p-1 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700" href="/hac/med">
                <i class="fa-solid fa-pills"></i>
                <span class="text-lg"> Medication Management</span>
            </a>
            </li>
            <li>
                <a class="flex items-center p-1 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700" href="/hac/eat">
                <i class="fa-solid fa-plate-wheat"></i>
                <span class="text-lg">  Eating/Feeding</span>
                </a>
            </li>
            <li>
                <a class="flex items-center p-1 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700" href="/hac/meals">
                <i class="fa fa-egg"></i>
                <span class="text-lg">  Meal Preparation</span>
                </a>
            </li>
            <li>
                <a class="flex items-center p-1 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700" href="/hac/collection">
                <i class="fa-regular fa-note-sticky"></i>
                <span class="text-lg">  My Collection</span>
                </a>
            </li>

            <li>
                <a class="flex items-center p-1 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700" href="/hac/activities">
                <span class="text-lg">  All Activities</span>
                </a>
            </li>
            </ul>
        </  div>

        </aside>
