<%- include('partials/header') -%>

<main class="container">
        <div class = "bg-image-index">
            <div class="row justify-content-around mt-6">
                <a href="/login" class="col-1 btn btn-primary"> Login</a>
                <a href="/signup" class="col-1 btn btn-primary"> Signup</a>
                <!-- <div class="bg-image col-5">
                    <img src="imgs/womanHelpMancCane.png" class="w-100" />
                </div> -->
            </div>
        </div>
</main>
    

<%- include('partials/footer') -%>