<%- include('partials/header') -%>

<main class="container">
    <div class="bg-image">
        <img src="../public/imgs/womanHelpMancCane.png" class="w-100" />
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)"></div>
        <div class="row justify-content-around mt-5">
            <a href="/login" class="col-3 btn btn-primary"> Login</a>
            <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
        </div>
    </div>
</main>
    

<%- include('partials/footer') -%>