<%- include('partials/header') -%>

<main class="container mt-5">
  <div class="">
    <section class="">
      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="text-red-600"><%= el.msg %></div>
      <% }) %> <% } %> <% if (locals.messages.info) { %> <%
      messages.info.forEach( el => { %>
      <div class="text-red-600"><%= el.msg %></div>
      <% }) %> <% } %>
      
      <table class = "table-auto mx-auto">
        <form action="/login" method="POST">
          <tbody class="divide-y-2">
            <tr>
              <td><label for="exampleInputEmail1" class="form-label"
              >Email address</label></td>
              <td>
                <input
                  type="email"
                  class="appearance-none block w-full bg-gray-200 text-gray-700 border border-blue-500 rounded py-2 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  name="email"
                />
              </td>
            </tr>

            <tr>
              <td>
                <label for="exampleInputPassword1" class="form-label">Password</label>
              </td>
              <td>
                <input
                  type="password"
                  class="appearance-none block w-full bg-gray-200 text-gray-700 border border-blue-500 rounded py-1 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                  id="exampleInputPassword1"
                  name="password"
                />
              </td>

              <tr>
                <td></td>
                <td><button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded mx-auto">Submit</button></td>
              </tr>
        </form>
    </section>
  </div>
</main>

<%- include('partials/footer', { currentPage: 'login' }) -%>
