<%- include('partials/header') -%>


<main class="container mx-auto">
    <form  action="#" method="POST" enctype="multipart/form-data" >
        <table id="list">

        </table>
        <button type="submit"> Submit </button>
    </form>
</main>


<%- include('partials/footer', { currentPage: 'storage' }) -%>